{% set banner_gov_text %}
    <p><strong>Official websites use .gov</strong><br />
        A <strong>.gov</strong> website belongs to an official government organization in the United States.</p>
{% endset %}

{% set banner_https_text %}
    <p><strong>Secure .gov websites use HTTPS</strong><br />
        A <strong>lock</strong> (<span class=\"icon-lock\">@</span>) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.</p>
{% endset %}

{% include '@uswds_templates/usa-banner.html.twig' with {
    'aria_label': 'Official website of the United States government' | t,
    'header_text': 'An official website of the United States government' | t,
    'button_text': 'Here’s how you know' | t,
    'gov_text': banner_gov_text,
    'https_text': banner_https_text
} %}
