{#
/**
 * @file
 * Default theme implementation to USWDS alert component.
 *
 * USWDS template variables:
 * - alert_type: string (info, warning, error, success)
 * - alert_slim: boolean: 0 / 1
 * - alert_no_icon: boolean: 0 / 1
 * - heading: string
 * - heading_level: string (h2, h3, h4)
 * - aria_label: string
 * - text: string
 * - classes: classes array
 *
 * Usage example:
 * {% include '@uswds_templates/usa-alert.html.twig' with {
 *   'alert_type': var_alert_type,
 *   'alert_slim': var_alert_slim,
 *   'alert_no_icon': var_alert_no_icon,
 *   'heading': var_heading | field_value,
 *   'heading_level': 'h4',
 *   'aria_label': var_label | field_value,
 *   'text': var_text | field_value,
 *   'classes': var_classes
 * } %}
 *
#}

{% set usa_attributes = create_attribute() %}
{% set usa_classes = [
  'usa-alert',
  alert_type ? 'usa-alert--' ~ alert_type,
  alert_slim == '1' ? 'usa-alert--slim',
  alert_no_icon == '1' ? 'usa-alert--no-icon',
] %}

{# Set correct role per alert type. #}
{% if alert_type == 'success' %}
  {% set role = 'status' %}
{% elseif alert_type == 'error' %}
  {% set role = 'alert' %}
{% else %}
  {% set role = 'region' %}
  {# Set aria-label to describe the alert. #}
  {% set usa_attributes = usa_attributes.setAttribute('aria-label', aria_label | default(heading)) %}
{% endif %}
{% set usa_attributes = usa_attributes.setAttribute('role', role) %}

<div{{ usa_attributes.addClass(usa_classes | merge(classes | default([]))) }}>
  <div class="usa-alert__body">
    {% if heading %}
      <{{ heading_level | default('h4') }} class="usa-alert__heading">{{ heading }}</{{ heading_level | default('h4') }}>
    {% endif %}
    {% if text %}
      <div class="usa-alert__text">
        {{ text }}
      </div>
    {% endif %}
  </div>
</div>
