{#
/**
 * @file
 * Default theme implementation to USWDS sidenav component.
 *
 * USWDS template variables:
 * - items: renderable array of menu items
 * - aria_label: string
 *
 * Usage example:
 * {% include '@uswds_templates/usa-sidenav.html.twig' with {
 *   'items': var_items,
 *   'aria_label': var_label,
 * } %}
 *
#}

{% if items %}
  <nav aria-label="{{ aria_label | default('Side navigation' | t) }}">
    <ul class="usa-sidenav">
      {% for item in items %}
        <li class="usa-sidenav__item">
          <a href="{{ item.url }}" class="{{ item.in_active_trail ? 'usa-current' }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
