{#
/**
 * @file
 * Default theme implementation to USWDS card group component.
 *
 * USWDS template variables:
 * - card_items: renderable field object value
 * - classes: classes array
 *
 * Usage example:
 * {% include '@uswds_templates/usa-card.html.twig' with {
 *   'card_items': var_card_items | field_value,
 *   'classes': var_classes
 * } %}
 *
#}

{% set usa_attributes = create_attribute() %}
{% set usa_classes = [
  'usa-card-group',
] %}

<ul{{ usa_attributes.addClass(usa_classes | merge(classes | default([]))) }}>
  {{ card_items }}
</ul>
