{#
/**
 * @file
 * Default theme implementation to USWDS site alert component.
 *
 * USWDS template variables:
 * - aria_label: string
 * - alert_type: string (info, emergency)
 * - alert_slim: boolean (0 / 1)
 * - alert_no_icon: boolean (0 / 1)
 * - heading: string
 * - text: string
 * - classes: classes array
 *
 * Usage example:
 * {% include '@uswds_templates/usa-site-alert.html.twig' with {
 *   'aria_label': var_label,
 *   'alert_type': var_alert_style | field_value,
 *   'alert_slim': var_alert_slim,
 *   'alert_no_icon': var_alert_no_icon,
 *   'heading': var_heading | field_value,
 *   'text': var_text | field_value,
 *   'classes': var_classes
 * } %}
 *
#}

{% set usa_attributes = create_attribute() %}
{% set usa_classes = [
  'usa-site-alert',
  alert_type ? 'usa-site-alert--' ~ alert_type,
  alert_slim == '1' ? 'usa-site-alert--slim',
  alert_no_icon == '1' ? 'usa-site-alert--no-icon',
] %}

{# Set correct role per alert type. #}
{% if alert_type == 'emergency' %}
  {% set role = 'alert' %}
{% else %}
  {% set role = 'status' %}
  {# Set aria-label to describe the alert. #}
  {% set usa_attributes = usa_attributes.setAttribute('aria-label', aria_label | default(heading)) %}
{% endif %}
{% set usa_attributes = usa_attributes.setAttribute('role', role) %}

<section{{ usa_attributes.addClass(usa_classes | merge(classes | default([]))) }}>
  <div class="usa-alert">
    <div class="usa-alert__body">
      {% if heading %}
        <h2 class="usa-alert__heading">{{ heading }}</h2>
      {% endif %}
      {% if text %}
        <div class="usa-alert__text">
          {{ text }}
        </div>
      {% endif %}
    </div>
  </div>
</section>
