{#
/**
 * @file
 * Default theme implementation to USWDS summary box component.
 *
 * USWDS template variables:
 * - id: numeric string
 * - heading: string
 * - heading_level: string (h2, h3, h4)
 * - text: string
 * - classes: classes array
 *
 * Usage example:
 * {% include '@uswds_templates/usa-summary-box.html.twig' with {
 *   'id': var_id,
 *   'heading': var_heading | field_value,
 *   'heading_level': 'h2',
 *   'text': var_text | field_value,
 *   'classes': var_classes
 * } %}
 *
#}

{% set usa_attributes = create_attribute() %}
{% set usa_classes = [
  'usa-summary-box',
] %}

<div{{ usa_attributes.addClass(usa_classes | merge(classes | default([]))).setAttribute('role', 'region').setAttribute('aria-label', heading) }}>
  <div class="usa-summary-box__body">
    {% if heading %}
      <{{ heading_level | default('h2') }} class="usa-summary-box__heading">
        {{ heading }}
      </{{ heading_level | default('h2') }}>
    {% endif %}
    {% if text %}
      <div class="usa-summary-box__text">
        {{ text }}
      </div>
    {% endif %}
  </div>
</div>
